<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/search.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Найти продукты</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
  </style>

<body>
    <div class="container_s">
        <h1>Найти продукты</h1>
    </div>

    <div class="container_sr">
        
        <form method="post" action="/search">
           
    
            <div class="input-container">
                <input type="text" placeholder="хочу кушать" id="search_term" name="search_term" required>
                <button type="submit">поиск</button>
            </div>
        </form>

    </div>

    <div class="container_s">
        

        <div class="green-block-text">
            oreo
        </div>

        <div class="green-block-text">
            печенье
        </div>

        <div class="green-block-text">
            вода
        </div>


    </div>




</body>

</html>